---
title: "Prevent Returns Fraud With Robust Tracking and Verification"
url: "https://stord.com/blog/how-to-prevent-returns-fraud"
date: "2025-10-09"
author: "Alex Kent"
feed_url: "https://www.stord.com/rss.xml"
---
Returns fraud is a serious problem for e-commerce businesses. In 2024, approximately 15% of all returns were fraudulent, resulting in a loss of around $103 billion for U.S. retailers 1 .
